# Ignore Python virtual environments
venv/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment and secret files
.env
*.env

# Upload files
/uploads/

# Saved Models
/saved_models/

# Model files (if large)
*.h5
*.keras

# OS files
.DS_Store
Thumbs.db